<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 80%;
        width: 80%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
                    function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(initMap);
                } else {
                    x.innerHTML = "Geolocation is not supported by this browser.";
                }
            }

      let map;

      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          center: {lat:33.233334,lng: -8.500000},
          zoom: 14,
        });
    //add marker
    var marker =new google.maps.Marker({
        position:{lat:33.233334,lng: -8.500000},
        map:map
    });  
    
    }
    </script>
  </head>
  <body>
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPjsLyjTEgYf904X0d-udZrIe9DrqDsM0
      &callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>